<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
页面应该是空白，因为没有配置.entryrc中的webpack入口
</div>
<script 
    data-base="{PLUS_STATIC_RESOURCES}"
    data-main="/js/demo/webpack_sass_pug/index.js"
    src="{PLUS_ANALYSIS_JS}">
</script>
</body>
</html>