<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>legacy</title>
<% include ../../public/head.ejs %>
<% include ../../public/meta.ejs %>
<% include ../../public/font.ejs %>
<!--@start-->
<!--@compile: css-->
<!--@file: {CSS_CDN_IP}/demo/legacy/test.css>-->
<link rel="stylesheet" href="{CSS_CDN_IP}/demo/legacy/test.css">
<!--@end-->
</head>
<body>
    经典开发模式
    <script src="{GOMEUI_CDN_IP}/core/js/zepto.min.js"></script>
    <script src="{PLUS_STATIC_RESOURCES}/js/legacy/index.js"></script>
</body>
</html>