<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>legacy</title>
<% include ../../public/head.ejs %>
<% include ../../public/meta.ejs %>
<% include ../../public/font.ejs %>
<link rel="stylesheet" href="{CSS_CDN_IP}/demo/legacy/sass.css">
</head>
<body>
<h1>fff</h1>
</body>
</html>