/*
 * @Author: zhaoye
 * @Date:   2015-11-03 18:12:35
 * @Last Modified by:   zhaoye-ds1
 * 列表组
 */
.list_grp{
    background-color: #fff;
}
.list_grp li {
    position: relative;
}
.list_grp li.nav_item:after {
    content: "0";
    position:absolute;
    right: 1.5rem;
    top: .75rem;
    height: 100%;
    display: block;
    font-family: "gome_icon";
    font-size: 1.5rem;
    color: #999;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
}
.list_grp:not(.noborder) li:first-child {
    border-top: 1px solid #e6e6e6;
}
.list_grp:not(.noborder) li:last-child {
    border-bottom: 1px solid #e6e6e6;
}
.list_grp li:last-child .content {
    border-bottom: none;
}
.list_grp .content:only-child {
  margin-left: 1.5rem;
}
.list_grp li>a {
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.list_grp .icon_wrapper {
    min-width: 1.5rem;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-align: center;
    box-pack: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.list_grp .icon_wrapper i {
    display: block;
    padding: 0 2rem;
    height: 100%;
    width: 2rem;
    line-height: 4.4rem;
    font-size: 1.75rem;
    text-align: center;
}
.list_grp .icon_wrapper .img_wrapper {
    border-radius: 50%;
    height: 3.7rem;
    width: 3.7rem;
    padding: 0 1.5rem;
    overflow: hidden;
}
.list_grp .title {
    color: #333;
    font-size: 1.5rem;
}
.list_grp .desc {
    font-size: 1.2rem;
    color: #999;
}
.list_grp .content {
    padding: 1.3rem 3rem 1.3rem 0;
    display: -webkit-box;
    display: box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.list_grp .content {
    border-bottom: 1px solid #e6e6e6;
}
.list_grp li:only-child .content {
    border-bottom: none;
}
